.friend_ {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.friends_item {
  display: flex;
  align-items: center;
}

.friend_avatar {
  height: 200px;
}

.friend_online {
  composes: friend_;
  background-color: rgb(0, 255, 170);
}

.friend_offline {
  composes: friend_;
  background-color: rgb(255, 17, 0);
}
